body {
  font-family: Georgia;
  min-height: 100vh;
}

form {
  position: relative;
  right: 0;
}
.title {
  background-color: #157ffb;
  color: white;
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
}
.slidebar {
  margin-left: 0;
  padding: 0;
  border: solid 1px #ddd4d4;
  border-radius: 5px;
  min-height: 500px;
}
.main {
  padding: 0;
  border: solid 1px #ddd4d4;
  border-radius: 5px;
  min-height: 500px;
}
.col-9 {
  padding-right: 0;
}
table {
  width: 100%;
}
